*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#headlogo{
     width: 4rem;
     height:4rem;
     grid-area: logo;
     margin: 1rem;    
}


div img{
    height: 100%;
    width: 100%
}

header{
    display:grid;
    grid-template-areas: 'title title'
                         'desc desc'
                         'logo nav';
     color: #00bfff;

}

h1{
    grid-area: title;
    justify-self: center;
    font-size: 6rem;
}
header p{
    grid-area: desc;
    justify-self: center;
    font-size: 3rem;
    font-style: italic;
}

header nav{
    grid-area: nav;
    width: 55rem;
    height: 2rem;
    justify-self: end;
    align-self: end;
}

#headlogo{
    width: 2rem;
    height:3rem;
    grid-area: logo;
    justify-self: start;
    align-self: end;
    margin: 1rem;
}
.navlinks{
    display: flex;
    justify-content: space-around;
}

li{
    font-size: 1rem;
    font-weight: bold;
    color: #00bfff;
}


.operational{
    display:grid;
    grid-template-areas: 'software'
                         'analysis'
                         'ossint';
    column-gap: 1rem;
    row-gap: 1rem;
    
}

.operational h2{
    font-size: 4rem;
    color: whitesmoke;
    font-weight: bold;
}

.operational p{
    font-size: 2rem;
    font-style: italic;
    color: white; 
}

.software{
    grid-area:software;
    justify-self: center;
    display: grid;
    grid-template-areas: 'h2'
                         'h2'
                         'p';
    background-image: url(/resources/main/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 15rem;
    
}

.software h2{
    grid-area: h2;
    justify-self:center;
    align-self:center;
}

.software p{
    grid-area: p;
    justify-self:center;
    font-size: 2rem; 
}

.analysis{
    grid-area:analysis;
    justify-self: center;
    display: grid;
    grid-template-areas: 'h2'
                         'h2'
                         'p';
    background-image: url(/resources/main/chris-liverani-dBI_My696Rk-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width:100%;
    height: 15rem;
    
}

.analysis h2{
    grid-area: h2;
    justify-self:center;
    align-self:center;
}

.analysis p{
    grid-area: p;
    justify-self:center;
    align-self:center;
}

.ossint{
    grid-area:ossint;
    justify-self: center;
    display: grid;
    grid-template-areas: 'h2'
                         'h2'
                         'p';
    background-image: url(/resources/main/sam-moqadam-yjr42Sepgis-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 15rem;
      
}

.ossint h2{
    grid-area: h2;
    justify-self:center;
    align-self:center;
}

.ossint p{
    grid-area: p;
    justify-self:center;
    align-self:center;
}
.administrative{
    display: grid;
    grid-template-areas: 'about contact';
    width:100%;
    height: 15rem;
    color: #0080ff;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem; 
}

.administrative h2{
    color: white;
    font-size: 3rem;
    font-weight:bold;
}

.administrative p{
    color: white;
    font-size: 1.5rem;
    font-style: italic;
}

.about{
    grid-area:about;
    justify-self:center;
    display: grid;
    grid-template-areas: 'h2'
                         'h2'
                         'p';
    background-image: url(/resources/main/campaign-creators-gMsnXqILjp4-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;  
}

.about h2{
    grid-area: h2;
    justify-self:center;
    align-self:center;
}

.about p{
    grid-area: p;
    justify-self:center;
    align-self:center; 
}


.contact{
    grid-area:contact;
    justify-self: center;
    display: grid;
    grid-template-areas: 'h2'
                         'h2'
                         'p';
    background-image: url(/resources/main/coqui-chang-tnUp0OLSkDg-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;      
}

.contact h2{
    grid-area: h2;
    justify-self:center;
    align-self: center;
}

.contact p{
    grid-area: p;
    justify-self:center;
    align-self: center; 
}

footer{
    display:grid;
    grid-template-areas: 'title title'                   
                         'logo nav';
    color: #00bfff;
}

#footlogo{
    width: 2rem;
    height:3rem;
    grid-area:logo;
    justify-self:start;
    align-self: end;
}

#navfooter{
    grid-area:nav;
    justify-self: end;
    width: 55rem;
    height: 2rem;
    align-self: end;
}

#lowerfirm{
    grid-area:title;
    justify-self:center;
    font-size: 2rem;
    font-style: italic;
}

a{
    color: #00bfff;
    text-decoration: none;
}


.mainsoft{
    display:grid;
    grid-template-areas: 'pic1 custom'
                         'pic2 already';
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: AliceBlue;
}

.custpic{
    grid-area:pic1;
    width: 100%;
    height:30rem;
    border: 0.5rem solid azure;
}

.readypic{
    grid-area:pic2;
    width: 100%;
    height:30rem;
    border: 0.5rem solid azure;
}

.custom{
    grid-area:custom;
    display:grid;
    grid-template-areas: 'h2'
                          'p';
}

.already{
    grid-area:already;
    display:grid;
    grid-template-areas: 'h2'
                         'h2'
                         'p'
                         'li';
}

.custom h2{
    align-self:end;
    justify-self:center;
    grid-area: h2;
    color: slategray;
    font-size:2rem;
}

.custom p{
    align-self:center;
    justify-self:center;
    grid-area: p;
    color: slategray;
    font-size:1.5rem;
    
}

.already h2{
    align-self:center;
    justify-self:center;
    grid-area: h2;
    color: slategray;
    font-size:2rem;
}

.already p{
    align-self:center;
    justify-self:center;
    grid-area: p;
    color: slategray;
    font-size:1.5rem;
}

.already ul{
    align-self:center;
    justify-self:center;
    grid-area: li;
    color: slategray;
    font-size:2rem;
}


#maindata{
    display:grid;
    grid-template-areas: 'extpic extdata'
                         'intpic intdata';
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: AliceBlue;
}

.extdatapic{
    grid-area:extpic;
    width: 100%;
    height:30rem;
    border: 0.5rem solid azure;
}

.intdatapic{
    grid-area:intpic;
    width: 100%;
    height:30rem;
    border: 0.5rem solid azure; 
}


.extdata{
    display:grid;
    grid-area:extdata;
    grid-template-areas: 'h2'
                         'p';
}

.intdata{
    display:grid;
    grid-area:intdata;
    grid-template-areas: 'h2'
                         'p';
}

.extdata h2{
    align-self:end;
    justify-self:center;
    grid-area: h2;
    color: slategray;
    font-size:2rem;
}

.extdata p{
    align-self:center;
    justify-self:center;
    grid-area: p;
    color: slategray;
    font-size:1.5rem;
}

.intdata h2{
    align-self:end;
    justify-self:center;
    grid-area: h2;
    color: slategray;
    font-size:2rem;
}

.intdata p{
    align-self:center;
    justify-self:center;
    grid-area: p;
    color: slategray;
    font-size:1.5rem;
}

#mainoss{
    display:grid;
    grid-template-areas: 'fenpic fenoss'
                         'entpic entoss';
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: AliceBlue; 
}

.fenpic{
    grid-area:fenpic;
    width: 100%;
    height:30rem;
    border: 0.5rem solid azure;
}

.entpic{
    grid-area:entpic;
    width: 100%;
    height:30rem;
    border: 0.5rem solid azure; 
}

.fenoss{
    display:grid;
    grid-area:fenoss;
    grid-template-areas: 'h2'
                         'p';  
}

.entoss{
    display:grid;
    grid-area:entoss;
    grid-template-areas: 'h2'
                         'p';  
}

.fenoss h2{
    align-self:end;
    justify-self:center;
    grid-area: h2;
    color: slategray;
    font-size:2rem;
}

.fenoss p{
    align-self:center;
    justify-self:center;
    grid-area: p;
    color: slategray;
    font-size:1.5rem;
}

.entoss h2{
    align-self:end;
    justify-self:center;
    grid-area: h2;
    color: slategray;
    font-size:2rem;
}

.entoss p{
    align-self:center;
    justify-self:center;
    grid-area: p;
    color: slategray;
    font-size:1.5rem;
}


#mainabout{
    display:grid;
    grid-template-areas: 'maininfo'
                         'mnginfo';
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: AliceBlue; 
}

.maininfo{
    display:grid;
    grid-area:maininfo;
    grid-template-areas:'officepic compdescr';
    column-gap: 1rem;
    row-gap: 1rem;
    height: 40rem;
}

.officepic{
    grid-area:officepic;
    height:30rem;
    border: 0.5rem solid azure;
}


.officepic img{
    height:100%;
    width:100%;
    object-fit:cover;
}

.compdescr{
    display:grid;
    grid-area: compdescr;
    height: 30rem;
    grid-template-areas:'h2'
                        'p';
}

.compdescr h2{
    align-self:end;
    justify-self:center;
    grid-area: h2;
    color: slategray;
    font-size:3rem;
}

.compdescr p{
    align-self:center;
    justify-self:center;
    grid-area: p;
    color: slategray;
    font-size:2rem;
}

.mnginfo{
    display:grid;
    grid-template-areas: 'genmng prodmng datamng ossmng';
}

.genmng{
    display:grid;
    grid-area:genmng;
    grid-template-areas: 'genpic geninf';
    column-gap: 1rem;
    row-gap: 1rem;
}

.genpic{
    grid-area: genpic;
    border: 0.5rem solid azure;
}

.geninf{
    grid-area:geninf;
    display:grid;
    grid-template-areas:'h3'
                         'p';
}

.geninf h3{
    grid-area:h3;
    align-self:end;
    justify-self:center;
    color: slategray;
    font-size:2rem;
    font-style:italic;
}

.geninf p{
    grid-area:p;
    align-self:center;
    justify-self:center;
    color: slategray;
    font-size:1rem;
}
.prodmng{
    display:grid;
    grid-area:prodmng;
    grid-template-areas:'prodpic prodinf';
    column-gap: 1rem;
    row-gap: 1rem;
}

.prodpic{
    grid-area:prodpic;
    border: 0.5rem solid azure;
}

.prodinf{
    display:grid;
    grid-area:prodinf;
    grid-template-areas:'h3'
                        'p';
}

.prodinf h3{
    grid-area:h3;
    align-self:end;
    justify-self:center;
    color: slategray;
    font-size:2rem;
    font-style:italic;
}

.prodinf p{
    grid-area:p;
    align-self:center;
    justify-self:center;
    color: slategray;
    font-size:1rem; 
}

.datamng{
    display:grid;
    grid-area:datamng;
    grid-template-areas: 'datpic datinf';
    column-gap: 1rem;
    row-gap: 1rem;
}

.datpic{
    grid-area:datpic;
    border: 0.5rem solid azure;
}

.datinf{
    grid-area:datinf;
    display:grid;
    grid-template-areas:'h3'
                        'p';
}

.datinf h3{
    grid-area:h3;
    align-self:end;
    justify-self:center;
    color: slategray;
    font-size:2rem;
    font-style:italic;
}

.datinf p {
    grid-area:p;
    align-self:center;
    justify-self:center;
    color: slategray;
    font-size:1rem; 
}
.ossmng{
    display:grid;
    grid-area:ossmng;
    grid-template-areas:'osspic ossinf';
    column-gap: 1rem;
    row-gap: 1rem;
}

.osspic{
    grid-area:osspic;
    border: 0.5rem solid azure;
}

.ossinf{
    display:grid;
    grid-area: ossinf;
    grid-template-areas:'h3'
                        'p';
}

.ossinf h3{
    grid-area:h3;
    align-self:end;
    justify-self:center;
    color: slategray;
    font-size:2rem;
    font-style:italic; 
}

.ossinf p{
    grid-area:p;
    align-self:center;
    justify-self:center;
    color: slategray;
    font-size:1rem; 
}



#cntmain{
    display:grid;
    grid-template-areas: 'cntpic cntform'
                         'cntinf cntinf';
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: AliceBlue;
    color: slategray;     
}

.cntpic{
    grid-area:cntpic;
    height:30rem;
    border: 0.5rem solid azure;
}

.cntpic img{
    height:100%;
    width:100%;
    object-fit:cover; 
}

.cntform{
    display:grid;
    grid-area:cntform;
    grid-template-areas:'h2'
                        'form';
}

.cntform h2{
   grid-area: h2;
   align-self:end;
   justify-self:center;
   color: slategray;
   font-size:3rem;
}

.cntform form{
    grid-area: form;
    align-self:end;
    justify-self:center;
    color: slategray;
    font-size:2rem;
}

#services{
    height: 5rem;
    width: 90%;
}

.cntinf{
    display:grid;
    grid-area:cntinf;
}

.subut{
    height:3rem;
    width:5rem;
    color: slategray;
    margin: 1rem;;
}


.cntinf{
    display:grid;
    grid-template-areas: 'h2 h2'
                         'p1 p2';
}

.cntinf h2{
    grid-area:h2;
    align-self:center;
    justify-self:center;
    font-size: 2rem;
}

#p1{
    grid-area:p1;
    font-size: 2rem;
    align-self:center;
    justify-self:center;
}

#p2{
    grid-area:p2;
    font-size:2rem;
    align-self:center;
    justify-self:center;
}